<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="AWS, certification, study guides, Solutions Architect, flashcards, practice tests, Reese Gerjekian">
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <link rel="icon" href="{{ "/images/icons/icon-512x512.png" | relURL }}" type="image/png">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <link rel="manifest" href="/manifest.json">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="{{ .Site.Params.image | default "/images/icons/icon-512x512.png" }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:image" content="{{ .Site.Params.image | default "/images/icons/icon-512x512.png" }}">
    <meta name="robots" content="index, follow">
</head>
<body>
    {{ if in .Permalink "/saa/" }}
        {{ partial "navbar-study-guide.html" . }}
    {{ else }}
        {{ partial "navbar-home.html" . }}
    {{ end }}
    
    {{ partial "breadcrumbs.html" . }}
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>